// Default color variables
$body-color: #fff;
$primary-color: #141414;
$secondary-color: #3b5998;
$text-color: #808080;
$text-color-dark: #141414;
$site-ease: cubic-bezier(0.645, 0.045, 0.355, 1);
$border-color: #e0dede;

// solid colors
$white: #fff;
$black: #000;
$gray: #616161;
$light-gray: #aaa;
// Font Variables
$primary-font: "Jost", sans-serif;
$secondary-font: "Poppins", sans-serif;

// Me color variables
// $body-color: #b0bec5;
// $primary-color: #3e2723;
// $secondary-color: #3b5998;
// $text-color: #111;
// $text-color-dark: #641E16;
// $site-ease: cubic-bezier(0.645, 0.045, 0.355, 1);
// $border-color: #e0dede;

// // solid colors
// $white: #fff;
// $black: #000;
// $gray: #616161;
// $light-gray: #aaa;

// // Font Variables
// $primary-font: "Jost", sans-serif;
// $secondary-font: "Poppins", sans-serif;
